<% content_for :header do %>
  <section id="header" class="section intro-section-title section-padding" data-bg="<%= resource.thumbnail.thumbnail("1200x800#").url() if resource.thumbnail %>">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="intro" class="text-container">
          <%= image_tag("logo-green.png", :id => "logo") %>
          <div id="intro-text"><%= raw resource.body %></div> 
        </div>
      </div>
    </div>
  </section>
<% end %> 
<%# resource_cache(resource) do %>
  <% resource.children.live.each do |p| %>
    <%= render((p.template.present? ? p.template : 'page'), :record => p) %>
  <% end %> 
<%# end %>
