/* COPYRIGHT
-------------------------------------------------- */
#copyright {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  
  .container {
     
  }
   p {
     color: #989898;
     font-size: 11px;
     margin-bottom: 0;
  }
}
.nav-menu-legal {
  > li {
    float: left;
    margin-right: 15px;
  }
  > li > a {
    color: #989898;
    font-size: 11px;
    padding: 0;
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}