<!-- Begin Footer -->
<footer id='footer'>
  <div class='container'>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div id="social-profiles">
          <ul class="nav social-links-nav">
            <li><a><i class="icon-facebook icon-2x"></i></a></li>
            <li><a href="https://twitter.com/digitalcookers" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>
            <li><a><i class="icon-linkedin icon-2x"></i></a></li>
            <li><a><i class="icon-instagram icon-2x"></i></a></li>
            <li><a><i class="icon-flickr icon-2x"></i></a></li>
            <li><a><i class="icon-google-plus icon-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>	
</footer>